body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 180, 180);
}

.calculator{
    width: 280px;
    background: #232323;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(87, 92, 241);
}

.display{
    width: 90%;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    background: #f5efef;
    color: rgb(16, 16, 16);
    border: none;
    border-radius: 5px;
    
}

.buttons{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgb(38, 64, 84);


}


button {
    background: #dfdada;
    color: #121111;
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    height: 65px;
    width: 65px;
  }
  
  button:active,
  button:focus {
    filter: brightness(120%);
  }


button:hover{
    background:#09ea41 ;
    color: black;
}

.operator{
    background: rgb(228, 76, 16);
}

.operator:hover{
    background: rgb(55, 22, 219);
}